@charset "utf-8";

*{
	margin: 0 auto;
	padding: 0;
}



body{
	background: #dfdddd;

}

header{
	width: 100%;
	height: 70px;
	background: #333333;
	box-shadow: 2px 2px 5px rgba(51,51,51,0.1);
}
.p{
	text-indent: 2em;
}

p{
	font:20px 微软雅黑,黑体,宋体,楷体,sans-serif;
	/*letter-spacing: 1px;*/
	line-height: 200%;
	/*font-size: 20px;*/
}
.img01{
	height: 100%;
	position: relative;
	left: 20px;
	top: 0;
	
}
#ul1{
	float: right;
	margin: 20px;
	

}
.li1{
	float: left;
	color: white;
    font-size: 4px;
    display: inline-block;
    margin: 4px;
}



.li2{
    list-style-type: none;
}


.div{
	background: white;
	box-shadow: 2px 2px 5px rgba(51,51,51,0.3);
	margin: 30px ;
	padding: 30px;
	box-sizing: border-box;
	margin-right: 30px;
}
.picture{
	overflow: auto;
}
figure{
	width: 180px;
	height: 200px;
	margin: 50px;
	text-align: center;
	border:1px solid #dfdddd;
/*	font-size: px;*/
	padding: 20px;
	position: relative;
	/*padding: 14px;*/
	box-sizing: border-box;
	float: left;
	


}
figcaption{
	text-align: center;
}

.img02{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

table{
	width: 100%;
	border-style: lighter;
	border-color: #e0e1e3;
	border-collapse:collapse;
    
}
ol{
	font-weight: bolder;
	margin: 20px 40px;

}
tr{
	height: 25px;
}
th{
	text-align: left;
	background: #3c3c3d;
}
button{
	width: 100%;
	/*margin-left: 5%;*/
	height: 50px;
	background: #3355d0;
	text-align: center;
	/*font:bolder 8em;*/
	color: white;
	font-weight: bold;
	font-size:1.3em;
	/*border-collapse: collapse;*/
	border-style: none;
	border-radius: 10px;
	/*display: inline-block;*/
}




#div01{
	width: 35%;
	/*position: relative;
	left: 0;*/
	margin-left: 0px;
}


#div05{
	overflow: auto;
}


footer{
	text-align: center;
	font:20px bolder;
	background: #333333;
	width: 100%;
	height: 90px;
	line-height: 5em;
	color: white;
	font-weight: bold;
	clear: both;

}


main #div05 form{
	margin-top: 100px;
	display: table;
	width: 100%;
	margin: 0 auto;
	font-size: 1.2em;
	
}

form .row{
	display: table-row;
	line-height: 1.5em;
}
form .cell{
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}

form .cell:first-child{
	text-align: right;

}

textarea{
	width: 80%;
	height: 100px;
}


main,.aside{
	display: inline-block;
}
main{
	float: left;
	margin-right: 430px;
}
.background{
	position: relative;
	min-width: 960px;
	
}
.aside{
	width: 400px;
	height: 800px;
	position: absolute;
	right: 0px;
	top: 70px;
}


