@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
.wrap{
	border: 1px solid #eee;
	margin: 20px;
	padding: 20px;
	position: relative;
	min-width: 1260px;
	height: 440px;
}

.logo_area,.article,.aside{
	display: inline-block;
}
.logo_area{
	width: 160px;
	height: 80px;
	float: left;
	padding: 20px;
    border: 1px solid #eee;
    /*margin: 20px;*/
	/*background: #f60;*/
	}
.logo_area .logo{
	background: url(../img/logo.gif) no-repeat;
	width: 80px;
	
	height: 80px;
	float: left;
	/*margin:0 auto;*/
	text-indent: -888px;

}

.aside{
	/*background: black;*/
	width: 80px;
	height:400px;
	border: 1px solid #eee;
	position: absolute;
    top: 20px;
    right: 20px;

    padding: 20px;
    float: right;
}

.aside img{
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
}

.article{
	position: absolute;
	left: 240px;
	top: 20px;
	right: 160px;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #eee;
	min-width: 600px;
}