@charset "utf-8";

main{
	background: url(../images/background.gif);
	overflow: auto;
}

main h3{
	color: #006f47;
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-top: 24px;
	text-align: center;
	font-weight: bold;
}

main form{
	display: table;
	width: 900px;
	/*padding: 10px;*/
	margin: 0 auto;
	/*background: green;*/
	
}

main form .row{
	display: table-row;
    
}

main form .cell{
     display: table-cell;
     /*水平基线对齐*/
     vertical-align: top;
     padding: 3px;
}


main  .row .cell:nth-child(1){
	text-align: right;
	padding-right: 20px;
}

textarea{
	resize: none;
	width: 300px;
	height: 100px;
}