@charset "utf-8";

body{
	background: #fff;
	font: 14px/1.5em 微软雅黑,宋体,楷体,Verdana,Arial,sans-serif;
	color: #22222a;
	border-top: 10px solid #016137;
}
*{
	margin: 0;
	padding: 0;
	font: inherit;
}
/*去掉当前页面中所有的 无序列表中的点的 样式去掉*/
ul{
	list-style-type: none;
}
/*外层盒子*/
#wrap{
	width: 1268px;
	margin: 0 auto;
}



.top-header{
	height: 120px;
	margin: 10px 0;

}

/*为什么logo使用h1 而不适用img？
因为为了更好地让搜索引擎抓取关键字，建议一个页面只有一个h1
而且最好是最重要的关键词。*/
.top-header .logo{
	width: 120px;
	height: 120px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -99999px;
	float: left;

	margin-left: 20px;
}

.top-menu ul li{
	
    background: #e9e2c3;
    margin: 0 10px;
    padding: 7px;
   
    display: inline;
}
/*导航*/
.top-menu{
	float: left;
	margin-left: 30px;
	 margin-top: 78px;
	
}
.top-menu ul li a:link, .top-menu ul li a:visited{
	text-decoration: none;
	font-weight: bold;
	color: #026237;

}
.top-menu ul li:hover{
	background: #bcad89;
}

.top-menu ul li.selected{
	background-color: #bcad89;
}

#page-footer{
	clear: both;
	font-size: 90%;
	background:#675c47;
	color: #efe5d0;
	margin-top: 10px;
	padding:15px; 
	text-align: center;
}

main div.heading{
	font-weight: bold;
}
